*.iml
.kotlin
.gradle
**/build/
xcuserdata
!src/**/build/
composeApp/mapping.txt
composeApp/seeds.txt
composeApp/unused.txt
composeApp/schemas/
composeApp/src/commonMain/composeResources/files/aboutlibraries.json
local.properties
.idea
.DS_Store
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
/iosApp/Pods/
