<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pw.janyo.whatanime">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="@xml/appcenter_backup_rule"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/JetpackSplashTheme">

        <activity
            android:name=".ui.activity.StartActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.ReceiveShareActivity"
            android:exported="true"
            android:label="@string/title_receive_share"
            android:theme="@style/Theme.WhatAnime.NoActionBar.Immersive">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.WhatAnime.NoActionBar" />
        <activity
            android:name=".ui.activity.HistoryActivity"
            android:exported="true"
            android:label="@string/title_activity_history"
            android:theme="@style/Theme.WhatAnime.NoActionBar" />
        <activity
            android:name=".ui.activity.DetailActivity"
            android:exported="true"
            android:theme="@style/Theme.WhatAnime.NoActionBar" />
        <activity
            android:name=".ui.activity.SettingsActivity"
            android:exported="true"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.WhatAnime.NoActionBar" />
    </application>

</manifest>